<header>
  <h1 class=<%= locals.title ? "custom" : "" %>><%= locals.title || "Mini Message Board" %></h1>
  <% now = new Date(); 
     if(locals.includeLastUpdated){ %>
    <a
      class="last-updated"
      href="javascript:window.location.href=window.location.href">
      <span class="icon icon-rotate"></span>
      <span
      class="simple-date"
      data-date="<%= now.toISOString() %>"
      title="last updated on"
      ><%= dateToStr(now, "simple") %></span
    >
    </a>
  <% } %>
</header>
