<div class="message">
  <header class="message-header">
    <span class="message-user"><%= message.user %></span>
    <span>•</span>
    <span
      class="message-added date"
      data-date="<%= message.added.toISOString() %>"
      ><%= dateToStr(message.added) %> (UTC)</span
    >
  </header>
  <p class="message-text"><%= message.text %></p>
</div>
