<%# Form with method and action makes a network request %>
<form method="POST" action="/new">
  <label for="input-user">Your name</label>
  <input name="user" id="input-user" />

  <label for="input-text">Message</label>
  <input name="text" id="input-text" required />

  <a href="/">Back</a>
  <button type="submit">POST</button>
</form>
