<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <main>
      <ul>
        <a href="/new">Post a new message</a>
        <% for (message of messages){ %>
        <li>
          <div>
            <span><%= message.user %></span>
            <span><%= dateToStr(message.added) %></span>
          </div>
          <p><%= message.text %></p>
        </li>
        <%}%>
      </ul>
    </main>
  </body>
</html>
