<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("header",{includeLastUpdated: true}) _%>
    <main>
      <a class="button new-message" href="/new">Post a new message</a>
      <ul class="message-list">
        <% for (let idx= messages.length -1; idx>=0; idx--){ const message =
        messages[idx]; %>
        <li>
          <a href="/message/<%=message.id%>">
            <%- include("message", {message, dateToStr}) _%>
          </a>
        </li>
        <%}%>
      </ul>
    </main>
    <%- include("creditFooter") _%>
  </body>
</html>
