<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <%- include("partials/dateScript") _%>
    <script type="module" src="/js/clientWss.js" defer></script>
  </head>
  <body>
    <%- include("partials/header",{includeLastUpdated: true, dateToStr}) _%>
    <main>
      <a class="button new-message" href="/new">Post a new message</a>
      <%- include("partials/messageList", {messages, dateToStr}) _%>
    </main>
    <%- include("partials/creditFooter") _%>
  </body>
</html>
