<div class="message">
  <header class="message-header">
    <span class="message-user"><%= message.user %></span>
    <span>•</span>
    <span class="message-added"><%= dateToStr(message.added) %></span>
  </header>
  <p class="message-text"><%= message.text %></p>
</div>
