<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | Post a new message</title>
  </head>
  <body>
    <%- include("header") _%>
    <main>
      <h2>Post a new message</h2>
      <%- include("form") _%>
    </main>
  </body>
</html>
