<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | Post a new message</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include("partials/header") _%>
    <main>
      <h2>Post a new message</h2>
      <%- include("partials/form") _%>
    </main>
    <%- include("partials/creditFooter") _%>
  </body>
</html>
