<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board | Post a new message</title>
  </head>
  <body>
    <main>
      <h2>Harmful content detected</h2>
      <p>
        It looks like you are trying to post some content flagged in these
        categories:
      </p>
      <ul>
        <% for (const cat of harmfulCategories){%>
        <li class="severity-<%= cat.severity%>">
          <%= cat.category%> (<%= cat.severity%>)
        </li>
        <%};%>
      </ul>
      <p>Please revise it and try again.</p>
      <%- include("form",{text,user}) _%>
    </main>
  </body>
</html>
